<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

    <h3>All Notes!</h3>
    <button type="button" class="newNotes">Add New Notes</button>
    <br>
    {% for note in pad %}
    <br>
    <a href="http://127.0.0.1:8000/dinner/notes/{{ note.id }}">{{ note.title }}</a>
    {% endfor %}
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script>
 
      $(".newNotes").click((e) => {
        $.ajax({
          url: "http://127.0.0.1:8000/dinner/notesUpd",
          method: "get",
          data: {
            op: "create",
          },
          success: (data) => {
            window.location.href = "http://127.0.0.1:8000/dinner/notes/" + data;
          },
        });
      });
    </script>
  </body>
</html>
